<html>

<head>
<title>Is McDonald's cleaner than Wendy's?</title>
</head>

<body>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode  echo=FALSE
library(bitops)
library(RCurl)
library(reshape2)

url <- paste0("https://raw.githubusercontent.com/jrwolf/","IT497/master/", "NYCHealthData.csv")
examdt <- getURL(url)
examdt5 <- read.csv(textConnection(examdt), sep = ",", header = T)

end.rcode-->


<!--begin.rcode fig.width=7, fig.height=6

end.rcode-->

</body>
</html>
